@import "tailwindcss";

.slick-prev:before {
  display: none;
}

.slick-next:before {
  display: none;
}

.icon:hover path {
  fill: white;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.spring_sale.slick-slider .slick-track {
  @apply flex gap-6;
}
.feature_product.slick-slider .slick-track {
  @apply flex gap-1;
}
