@import "tailwindcss";

.slick-prev:before {
  display: none;
}

.slick-next:before {
  display: none;
}

.icon:hover path {
  fill: white;
}

.spring_sale.slick-slider .slick-track {
  @apply flex gap-6;
}
.feature_product.slick-slider .slick-track {
  @apply flex gap-1;
}